!!!
%html
  %head
    %title dgiim-form
  %body
    %form{action: "/link", method: "post"}
      %h1 Nuevo enlace
      %fieldset
        %p
          %label{for: "link_title"} Título
          %input#link_title{type: "text", name: "title", class: "text"}
        %p
          %label{for: "link_author"} Autor
          %input#link_author{type: "text", name: "author", class: "text"}
        %p
          %label{for: "link_url"} Enlace
          %input#link_url{type: "text", name: "link", class: "text"}
        %p
          %input{type: "submit", value: "Enviar", class: "button"}
    %form{action: "/post", method: "post"}
      %h1 Nuevo post
      %fieldset
        %p
          %label{for: "post_title"} Título:
          %input#post_title{type: "text", name: "title", class: "text"}
        %p
          %label{for: "post_author"} Autor:
          %input#post_author{type: "text", name: "author", class: "text"}
        %p
          %label{for: "content"} Contenido:
          %textarea#content{type: "text", name: "content", class: "text"}
        %p
          %input{type: "submit", value: "Enviar", class: "button"}
