.contrib-form {
  input[type="text"], textarea {
    width: 100%;
  }

  textarea {
    min-height: 10em;
  }

  .title-field {
    font-size: 200%;
  }

  .note {
    color: #666;
    font-size: 0.9em;
  }
}

.msg {
  padding: 0.6em 1.2em;
  margin: 1.2em 0 0;
  border: darken(#f0f0f0, 20%);
  background: #f0f0f0;

  &.error {
    border: darken(#f0b0a0, 20%);
    background: #f0b0a0;
  }
}

.highlighter-rouge {
  background: #f6f6f6;
  border: 1px solid #d0d0d0;
  overflow-x: auto;
  margin-top: 0;
  padding: 0.6rem;
  display: block;
}

dl .highlighter-rouge {
  border-width: 1px 0;
}

code, .highlighter-rouge {
  font-family: "Source Code Pro", monospace;
  font-size: 0.8rem;
}
