.contrib-form {
  input[type="text"], textarea {
    width: 100%;
  }

  textarea {
    min-height: 10em;
  }

  .title-field {
    font-size: 200%;
  }

  .note {
    color: #666;
    font-size: 0.9em;
  }
}

.msg {
  padding: 0.6em 1.2em;
  margin: 1.2em 0 0;
  border: darken(#f0f0f0, 20%);
  background: #f0f0f0;

  &.error {
    border: darken(#f0b0a0, 20%);
    background: #f0b0a0;
  }
}
